.navigationHeader {
  width: 100%;
  height: 4.5rem;
  background-color: #f7f7f7;
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 999;
}
.navigationHeader nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.logo-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  margin-left: 1rem !important;
  font-size: 1.7rem!important;
  font-weight: 600!important;
  color: #444 !important; 
  cursor: pointer;
}

.nav-logo{
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #fbbf24;
}

.navigationLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navigationLinks li {
  margin: 0 1rem;
}

.navigationLinks a {
  background-color: #f7f7f7;
  color: #444;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
}
.navigationLinks a:hover {
  background-color: #7e22ce;
  color: #ede9fe;
}

.cart-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.cart-profile a{
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  background-color: #f7f7f7;
  color: #444;
}
.cart-profile a:hover{
  color: #ccc;
}

.cartLinkBadge{
  position: relative;
}
.cartCount{
  top: -10px;
  right:1px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: #fff;

}
.cart-icon ,.profile-icon{
  font-size: 1.5rem;
}